<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.css">

    <style>

    </style>
    <title>Node.js EJS Todo App</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Node.js EJS Todo App</span>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mt-3"></div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add">
                    Add To Do
                </button>

                <div class="card">
                    <div class="card-body">
                        <h2>List Of To Do</h2>

                        <div class="list-group">
                            <% results.forEach((item, index) => { %>
                            <div href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><%= item.title %></h5>
                                </div>
                                <p class="mb-1"><%= item.description %></p>
                                <a 
                                class="btn-edit-modal"
                                data-toggle="modal" 
                                data-target="#modal-edit"
                                data-id="<%= item._id %>"
                                data-title="<%= item.title %>"
                                data-description="<%= item.description %>"
                                >
                                    <span class="badge badge-pill badge-success">edit</span>
                                </a>
                                <a 
                                href="/delete/<%= item.id %>"
                                >
                                    <span class="badge badge-pill badge-danger">delete</span>
                                </a>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Add Modal -->
    <div class="modal fade" id="modal-add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/add" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title-add">Title</label>
                            <input type="text" class="form-control" id="title-add" name="title">
                        </div>
                        <div class="form-group">
                            <label for="description-add">Description</label>
                            <input type="text" class="form-control" id="description-add" name="description">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="modal-edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/edit" method="POST">
                    <div class="modal-body">
                        <input id="id-edit" type="hidden" name="id" value="">
                        <div class="form-group">
                            <label for="title-edit">Title</label>
                            <input type="text" class="form-control" id="title-edit" name="title" value="">
                        </div>
                        <div class="form-group">
                            <label for="description-edit">Description</label>
                            <input type="text" class="form-control" id="description-edit" name="description" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/public/vendor/jquery/jquery.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script>
        // ketika elemen dengan class btn-edit-modal diklik
        $(document).on('click', '.btn-edit-modal', function () {
            // ambil datanya: id, title, description, yang tadinya ada di data- attribute
            $("#id-edit").val($(this).data('id'));
            $("#title-edit").val($(this).data('title'));
            $("#description-edit").val($(this).data('description'));
        });
    </script>
</body>

</html>